@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /* Backgrounds - Light Mode */
  --background-1: #e9e9e9;
  --background-2: #f0f0f0;
  --background-3: #123;

  /* Text Colors - Light Mode */
  --text-1: #191919;
  --text-2: #45556c;
  --text-3: #123;

  --text-4:#fff;

   --markText-1:#2b3442;
   --markText-2:#081017;
   --markText-3: #123;

   --markBack: #123;

  /* Font defaults */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-1: #161616;
    --background-2: #1f1f1f;
    --background-3: #ffffff;

    --text-1: #dbdbdb;
    --text-2: #45556c;
    --text-3: #ffffff;

    --markText-1:#d5d7db;
    --markText-2:#d9dcde;
    --markText-3: #f3f3f3;

    --markBack: #123;
  }
}

@theme inline {
  --color-background-1: var(--background-1);
  --color-background-2: var(--background-2);
  --color-background-3: var(--background-3);

  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);
  --color-text-4: var(--text-4)
}

body {
  background-color: var(--background-1);
  color: var(--text-1);
  font-family: var(--font-roboto), sans-serif;
}


/* Styling for Markdown */

.clamp-h1 {
  font-size: clamp(1.9rem, 5vw, 2.2rem);
}
.clamp-h2 {
  font-size: clamp(1.2rem, 2.5vw, 1.1rem);
}

.m-h2 {
  font-size: clamp(1.4rem, 3.8vw, 1.6rem);
  color: var(--markText-1);
}

.m-p {
  color: var(--markText-2);
}

.m-h3 {
  font-size: clamp(1.2rem, 3.8vw, 1.4rem);
  color: var(--markText-1);
}

.m-p {
  font-size: clamp(0.95rem, 2.5vw, 1rem);
}

.m-a {
  color: var(--markText-3);
  font-weight: bold;
  text-decoration: none;
  transition: opacity 3.5s ease, text-decoration-color 0.3s ease;
}

.m-a:hover {
  text-decoration: underline;
  opacity: 0.9;
}

ul li,
td code,
th code,
p code,
td strong,
strong,
td {
  color: var(--markText-3);
  opacity: 90%;
}

td code {
  font-weight: 600;
}

code {
  text-decoration: none;
}

ul li {
  text-decoration: underline;
}
/* <--------------------- */


h1 {
  @apply font-bold;
  font-size: clamp(1.1rem, 3.8vw, 1.8rem);
}
h2 {
  @apply font-bold;
  font-size: clamp(1.0rem, 2.5vw, 1.1rem);
}
h3 {
  @apply font-bold;
  font-size: clamp(0.9rem, 2.5vw, 1.0rem);
}
